@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/../fonts/ptsans-400.woff2) format(.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/../fonts/ptsans-700.woff2) format(.woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.main-header {
  color: #000000;
  background-color: #ffffff;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url(./../img/main-page/main-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 81px;
}

.about-sedona {
  display: flex;
  flex-direction: column;
  margin-top: 115px;
  color: #000000;
  background-color: #ffffff;
}

.infrastructure {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.advantages {
  font-family: "PT Sans", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.ifrastructure-list {
  color: #000000;
  background-color: #83B3D3;
}

.advantages-list {
  color: #000000;
  background-color: #83B3D3;
}

.found-hotel {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #ffffff;
  background-image: url(./../img/main-page/mailing-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; 
  text-align: center;
}

.catalog {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.filter {
  color: #000000;
  background-color: #ffffff;
  background-image: url(img/catalog/catalog-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat; 
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2, p {
  text-align: center;
}
