@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/ptsans-400.woff2) format(.woff2);
    font-display: swap; 
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/ptsans-700.woff2) format(.woff2);
    font-display: swap;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color:white;
}

.main-header{
    color: black;
    background-color: white;
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    width: 350px;
}

.navigation-link{
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: black;
    background-color: white;
    text-decoration: none; 
}
.main-logo{
    width: 138px;
    display: block;
    margin: 0 auto;
}

.navigation-user {
    max-width: 250px;
    margin-left: auto;
}

.main-container {
    flex-grow: 1;
}

.main-index {
    color: #000000;
    background-color: white;
    background-image: url(./../img/main-page/main-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.welcome{
    display: block;
    margin: 0 auto;
}

  .advantages{
    font-family: "PT Sans", sans-serif;
    color:black;
    background-color: white;
    text-align: center;
}

.advantages-list{
    color:black;
    background-color: #83B3D3;
    text-align: center;
}

.advantages-item-one{
    color: white;
    
}

.advantages-item-two{
    color: white;
    background-color: #83B3D3;
}

.infrastructure-list{
    display: grid;
    width: 1200px;
    color: black;
    background-color: #83B3D31F;
}

.found-hotel{
    color:black;
    background-color: white;
    text-align: center;
}

.mailing{
    display: flex;
    flex-direction: column;
    
    color: #ffffff;
    background-color: white;
    background-image: url(./../img/main-page/mailing-background.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat; 
    text-align: center;
}

.main-footer{
    display: flex;
    flex-direction: space-around;
    width: 1200px;
}
.filter{
    color:white;
    background-image: url(./../img/catalog/catalog-background.jpg);
    background-size: 100% auto;
}
